<!DOCTYPE html>
<html>
<head>
  <title>arcadia</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
      <link rel="stylesheet" type="text/css" href="http://localhost/Arcadia/css/specific_Css/new5.css">
       <meta charset ='utf-8'>
     </head>
     <body>
      <div id="pagina">
        <div class="dividir"></div>
        <div id="completo">
          <div id="contenido">
            <div id="cabecera" style="">
             <header>
                 <table id="titulo" style="">
                        <tr class="trizq">
                        <td  class="td1" style="height: 130px"><div><h2></h2></div></td>
                        <td class="td1">
                          <div class="buscar"><form action="/site/rpgeducativo/system/app/pages/search">
                                     <input type="hidden"  value="search-site" /><input type="text" id="txtbuscar" size="20" value="" aria-label="Buscar en este sitio" />
                                     <button>Buscar en este sitio</button></form></div></td>
                        </tr>
                       
                    </table> 
                
             </header></div>
             <div id="seccion">
              <section>
                    <table id="articulo" class="articulo1">
                             <tbody>
                                <tr>
                                 <td class="td2" id="entradaestudiante">
                                  <div id="td2div">
                                       <div  id="COMP_797299517551437" class="sites-embed"><h4 class="sites-embed-title">El Mundo</h4><div class="sites-embed-content sites-sidebar-nav"><ul class="menu"><li ><div id="ini" style="padding-left: 5px;"><a href="">Reinos</a></div></li><li ><div dir="ltr" style="padding-left: 5px;"><a href=""  class="sites-navigation-link">Perfil</a></div></li> <!--  <li class=""><div dir="ltr" style="padding-left: 5px;"><a href="mapas.html">Mapa</a></div></li><li class=""><div dir="ltr" style="padding-left: 5px;"><a href="/site/rpgeducativo/noticias">Noticias</a></div></li></ul></div></div>
                                       <div><h4>Otros</h4><div ><ul class="menu"><li ><div dir="ltr" style="padding-left: 5px;"><a href="creditos.html" >Créditos</a></div></li></ul></div></div>
                               -->  </div></td>
                         <td id="sites-canvas-wrapper">
                             <div id="entrada">

                              <button id="seleccion" ><a href="pueblos.html">Unete a un Reino</a></button>


                             <div id="reinos">
                             	<table id="tablaReinos" border="1">
                             		<thead>
                             			<tr>
                             				<td>
                             					Nombre Reino
                             				</td>
                             				<td>
                             				  Profesor
                             				</td>
                             				<td>
                             					Materia
                             				</td>
                             			</tr>
                             		</thead>
                             	</table>

                             </div> 
                       </div>
                       </td>
                                  </tr>
                             </tbody>
                    </table>
                     <div id="footer"></div>
              </section>
          </div>
                
          </div>
        </div>

      </div>
     </body>
 </html>    
   