h1{
  font-size: 300%;
  color: #303030;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
  font-family: Verdana;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
  border: 1px solid rgba(0,0,0,255);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(0,0,0,255);
}
th{
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: #303030;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: center;
  vertical-align:center;
  font-weight: 300;
  font-size: 12px;
  color: #000;
  border-bottom: solid 1px rgba(0,0,0,255);
}

div.vertical
{
 margin-left: -85px;
 position: absolute;
 width: 215px;
 transform: rotate(-90deg);
 -webkit-transform: rotate(-90deg); /* Safari/Chrome */
 -moz-transform: rotate(-90deg); /* Firefox */
 -o-transform: rotate(-90deg); /* Opera */
 -ms-transform: rotate(-90deg); /* IE 9 */
}

th.vertical
{
 height: 120px;
 line-height: 14px;
 padding-bottom: 20px;
 text-align: center;
}

body{
  background: rgba(226,226,226,1);
  background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 24%, rgba(173,173,173,1) 40%, rgba(173,173,173,1) 47%, rgba(173,173,173,1) 59%, rgba(209,209,209,1) 72%, rgba(254,254,254,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(24%, rgba(219,219,219,1)), color-stop(40%, rgba(173,173,173,1)), color-stop(47%, rgba(173,173,173,1)), color-stop(59%, rgba(173,173,173,1)), color-stop(72%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
  background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 24%, rgba(173,173,173,1) 40%, rgba(173,173,173,1) 47%, rgba(173,173,173,1) 59%, rgba(209,209,209,1) 72%, rgba(254,254,254,1) 100%);
  background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 24%, rgba(173,173,173,1) 40%, rgba(173,173,173,1) 47%, rgba(173,173,173,1) 59%, rgba(209,209,209,1) 72%, rgba(254,254,254,1) 100%);
  background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 24%, rgba(173,173,173,1) 40%, rgba(173,173,173,1) 47%, rgba(173,173,173,1) 59%, rgba(209,209,209,1) 72%, rgba(254,254,254,1) 100%);
  background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 24%, rgba(173,173,173,1) 40%, rgba(173,173,173,1) 47%, rgba(173,173,173,1) 59%, rgba(209,209,209,1) 72%, rgba(254,254,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
