	body {
		margin: 0px;
		padding: 0px;
		background: #180E0B;
		font-family: 'Raleway', sans-serif;
		font-size: 11pt;
		color: #000000;
	}

	h1, h2, h3 {
		margin: 0px;
		padding: 0px;
	}

	h2 {
		padding: 0px 0px 20px 0px;
		letter-spacing: -1px;
		font-size: 1.8em;
	}
	#Creditos{
    text-align: Center;
    font-weight: 700;
    font-size: 40px;

	}

	p, ol, ul {
		margin-top: 0px;
		line-height: 160%;
	}

	p {
		margin-bottom: 2em;
		line-height: 160%;
	}


	strong {
		font-weight: 700;
	}

	a {
		color: #A2A2A2;
	}

	a:hover {
		text-decoration: none;
	}

		/* Images */

			.image
			{
				display: inline-block;
			}

				.image img
				{
					display: block;
					width: 100%;
				}

				.image.featured
				{
					display: block;
					width: 100%;
					margin: 0 0 2em 0;
				}

				.image.full
				{
					display: block;
					width: 100%;
					margin-bottom: 2em;
				}

				.image.left
				{
					float: left;
					margin: 0 2em 2em 0;
				}

				.image.centered
				{
					display: block;
					margin: 0 0 2em 0;
				}

					.image.centered img
					{
						margin: 0 auto;
						width: auto;
					}

		header
		{
			margin-bottom: 1em;
		}

			header h2
			{
				font-weight: 600;
			}

			header .byline
			{
				display: block;
				margin: 0.5em 0 0 0;
				padding: 0 0 0.5em 0;
			}

		ul.style
		{
		}

		ul.style li
		{
			padding: 0.55em 0em;
		}

		ul.style li:first-child
		{
		}

		ul.style a
		{
			color: #774535 !important;
		}

		ul.style1
		{
		}

		ul.style1 li
		{
			padding: 0.55em 0em;
		}

		ul.style1 li:first-child
		{
		}

		ul.style1 a
		{
			color: #774535 !important;
		}

		ul.style1 img
		{
			float: left;
			margin-right: 1em;
		}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
	}

		#header .container
		{
			position: relative;
			padding: 6em 0em;
		}


/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		position: absolute;
		right: 0em;
		top: 5em;
	}

		#nav > ul > li
		{
			float: left;
		}

			#nav > ul > li:last-child
			{
				padding-right: 0;
			}

			#nav > ul > li > a,
			#nav > ul > li > span
			{
				display: block;
				margin-left: 0.7em;
				padding: 0.80em 1.2em;
				letter-spacing: 0.06em;
				text-decoration: none;
				font-size: 1em;
				outline: 0;
				color: #FFF;
			}

			#nav li.active a
			{
				background: #56c9d6;
				border-radius: 5px;
				color: #FFF;
			}

			#nav > ul > li > ul
			{
				display: none;
			}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		position: relative;
		background: #fff url(/Arcadia/assets/imagenes/banner4.jpg);
		background-size: cover;
	}

	.homepage #banner
	{
	}


		#bannerx
		{
			position: relative;
			background: #fff url(/Arcadia/assets/imagenes/banner3.jpg);
			background-size: cover;
		}

		.homepage #bannerx
		{
		}


/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		position: relative;
		padding: 6em 0em;
		background: #261611;
		color: #774535;
	}

	#main header h2
	{
		color: #bc765f;
	}

	#main a
	{
		color: #bc765f;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured
	{
		position: relative;
		padding: 6em 0em 4em 0em;
		background: #FFF;
	}

/*********************************************************************************/
/* Marketing                                                                     */
/*********************************************************************************/

	#marketing
	{
		position: relative;
		padding: 6em 0em;
		background: #372019;
		color: #8c5240;
	}

	#marketing header h2
	{
		color: #c0745d;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		position: relative;
		padding: 3em 0em;
		text-align: center;
		color: #774535;
	}

	#copyright .container
	{
	}

	#copyright a
	{
		text-decoration: none;
		color: #774535 !important;
	}
